#buttons {
    layout: vertical;
    align:center middle;
    # background: $boost;
    padding: 2;
}

#cont {
        layout: grid;
        grid-rows: 1fr 1fr;
}
#player-cont {
        layout: grid;
        grid-size: 2;
        grid-gutter: 2;
        grid-columns: 1fr 3fr;
        margin: 1 2;
}
#recorder-cont {
        layout: grid;
        grid-size: 2;
        grid-gutter: 2;
        grid-columns: 1fr 3fr;
        margin: 1 2;
}